[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
modern-data-stack-assets = {editable = true, path = "."}
dbt-snowflake = "*"

[dev-packages]

[requires]
python_version = "3.9"
